<div class="menus flex">
    <div class="image-container flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="logo">
    </div>
    <div class="menu-container flex opcoes">
        <app-button-menu [description]="'Home'">
           <fa-icon [icon]="homeIcone"></fa-icon>
        </app-button-menu>
        <app-button-menu [description]="'Pesquisar'">
            
        </app-button-menu>
        <app-button-menu [description]="'Artistas'">
            
        </app-button-menu>
    </div>
</div>
<div class="user-info">

</div>