@import 'variables.scss';

:host {
  width: 100%;
  display: block; 

  button {
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: left;
    font-weight: 600;
    font-size: .8rem;
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
    background-color: $button-color;

    span {
      width: 150px;
      overflow: hidden;
      margin-left: 15px;
      white-space: nowrap;
      display: inline-block;
      vertical-align: middle;
      text-overflow: ellipsis;

    }

    &.button-active {
      background-color: $primary-color;
      
    }
  }
}
